server:
  port: 8000

spring:
  application:
    name: go-gateway
  zipkin:
    base-url: http://192.168.2.6:9411/
    discovery-client-enabled: false
    sender:
      type: web
#采样取值介于 0到1之间，1则表示全部收集
  sleuth:
    sampler:
      probability: 1
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848

    gateway:
      routes:
        - id: go_producer
          uri: lb://go-producer
          predicates:
            - Path=/api/producer/**
          filters:
            - RewritePath=/api/(?<segment>/?.*), /$\{segment}
        - id: go_consumer
          uri: lb://go-consumer
          predicates:
            - Path=/api/consumer/**
          filters:
            - RewritePath=/api/(?<segment>/?.*), /$\{segment}


# localhost:8000/api/producer/health -> localhost:8001/producer/health
# 一个请求满足多个路由的谓词条件时，请求只会被首个成功匹配的路由转发
# 各种 Predicates 同时存在于同一个路由时，请求必须同时满足所有的条件才被这个路 由匹配